.login-form-lock {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background: url(../assets/img/lock.svg) #fff2f2 no-repeat center;
}

.user {
  width: 18px;
  height: 18px;
  background: url(../assets/img/user.svg) no-repeat center;
}

.password {
  width: 18px;
  height: 18px;
  background: url(../assets/img/password.svg) no-repeat center;
}

.alert {
  width: 18px;
  height: 18px;
  background: url(../assets/img/alert-input-form.svg) no-repeat center;
  margin: 0;
}

.check {
  width: 20px;
  height: 20px;
  background: url(../assets/img/check-circled.svg) no-repeat center;
}

.info {
  width: 18px;
  height: 18px;
  background: url(../assets/img/info.svg) no-repeat center;
}

.delete {
  width: 12px;
  height: 12px;
  background: url(../assets/img/delete.svg) no-repeat center;
}

.reorder {
  width: 12px;
  height: 12px;
  background: url(../assets/img/reorder.svg) no-repeat center;
}

.confirmation {
  width: 24px;
  height: 24px;
  background: url(../assets/img/confirmation-toast.svg) no-repeat center;
}

.delete-alert {
  width: 42px;
  height: 95px;
  background: url(../assets/img/delete-alert.png) no-repeat center;
}

.sort {
  width: 12px;
  height: 12px;
  background: url(../assets/img/sort.svg) no-repeat center;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
